html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fdfdfd;
    display: block !important;
    place-items: unset !important;

}
@tailwind base;
@tailwind components;
@tailwind utilities;

